In [1]:
# Librerias
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
# Ruta de archivo 
ruta_archivo = 'ObesityDataSet_raw_and_data_sinthetic.csv'

data = pd.read_csv(ruta_archivo)

In [3]:
# Imprimir informaci칩n b치sica sobre el conjunto de datos

print("Informaci칩n del conjunto de datos:")
print(data.info())

Informaci칩n del conjunto de datos:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   object
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   object
 5   FAVC                            2111 non-null   object
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   CAEC                            2111 non-null   object
 9   SMOKE                           2111 non-null   object
 10  CH2O                            2111 non-null   float64
 11  SCC                             2111 non-null   object
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CALC                            2111 non-null   object
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB
None

In [4]:
# Primeras filas del conjunto de datos
data.head(5)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [5]:
# Estad칤sticas descriptivas
print(data.describe())

               Age       Height       Weight         FCVC          NCP  \
count  2111.000000  2111.000000  2111.000000  2111.000000  2111.000000
mean     24.312600     1.701677    86.586058     2.419043     2.685628
std       6.345968     0.093305    26.191172     0.533927     0.778039
min      14.000000     1.450000    39.000000     1.000000     1.000000
25%      19.947192     1.630000    65.473343     2.000000     2.658738
50%      22.777890     1.700499    83.000000     2.385502     3.000000
75%      26.000000     1.768464   107.430682     3.000000     3.000000
max      61.000000     1.980000   173.000000     3.000000     4.000000

              CH2O          FAF          TUE
count  2111.000000  2111.000000  2111.000000
mean      2.008011     1.010298     0.657866
std       0.612953     0.850592     0.608927
min       1.000000     0.000000     0.000000
25%       1.584812     0.124505     0.000000
50%       2.000000     1.000000     0.625350
75%       2.477420     1.666678     1.000000
max       3.000000     3.000000     2.000000

El dataset no tiene datos nulos. 
Sin embargo no esta normalizado, tiene datos boleanos y categoricos

In [17]:
from sklearn.preprocessing import LabelEncoder
# Creamos nuestro label encoder
labelencoder = LabelEncoder()
# Transformamos los valores boleanos con label encoding
data['Gender'] = labelencoder.fit_transform(data['Gender'])
data['family_history_with_overweight'] = labelencoder.fit_transform(data['family_history_with_overweight'])
data['FAVC'] = labelencoder.fit_transform(data['FAVC'])
data['SMOKE'] = labelencoder.fit_transform(data['SMOKE'])
data['SCC'] = labelencoder.fit_transform(data['SCC'])

In [18]:
# Primeras filas del conjunto de datos para ver la transformaci칩n
data.head(5)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,21.0,1.62,64.0,1,0,2.0,3.0,Sometimes,0,2.0,0,0.0,1.0,no,Public_Transportation,Normal_Weight
1,0,21.0,1.52,56.0,1,0,3.0,3.0,Sometimes,1,3.0,1,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,1,23.0,1.80,77.0,1,0,2.0,3.0,Sometimes,0,2.0,0,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,1,27.0,1.80,87.0,0,0,3.0,3.0,Sometimes,0,2.0,0,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,1,22.0,1.78,89.8,0,0,2.0,1.0,Sometimes,0,2.0,0,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [19]:
data = pd.get_dummies(data, columns=['CAEC'], prefix=['CAEC_T'])
data = pd.get_dummies(data, columns=['MTRANS'], prefix=['MTRANS_T'])
data = pd.get_dummies(data, columns=['NObeyesdad'], prefix=['NObeyesdad_T'])
data = pd.get_dummies(data, columns=['CALC'], prefix=['CALC_T'])

In [20]:
# Primeras filas del conjunto de datos para ver la transformaci칩n
data.head(5)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,SMOKE,CH2O,...,NObeyesdad_T_Normal_Weight,NObeyesdad_T_Obesity_Type_I,NObeyesdad_T_Obesity_Type_II,NObeyesdad_T_Obesity_Type_III,NObeyesdad_T_Overweight_Level_I,NObeyesdad_T_Overweight_Level_II,CALC_T_Always,CALC_T_Frequently,CALC_T_Sometimes,CALC_T_no
0,0,21.0,1.62,64.0,1,0,2.0,3.0,0,2.0,...,1,0,0,0,0,0,0,0,0,1
1,0,21.0,1.52,56.0,1,0,3.0,3.0,1,3.0,...,1,0,0,0,0,0,0,0,1,0
2,1,23.0,1.80,77.0,1,0,2.0,3.0,0,2.0,...,1,0,0,0,0,0,0,1,0,0
3,1,27.0,1.80,87.0,0,0,3.0,3.0,0,2.0,...,0,0,0,0,1,0,0,1,0,0
4,1,22.0,1.78,89.8,0,0,2.0,1.0,0,2.0,...,0,0,0,0,0,1,0,0,1,0

Con todos los datos numericos, finalmente procedemos a estandarizarlos

In [21]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 33 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Gender                            2111 non-null   int32
 1   Age                               2111 non-null   float64
 2   Height                            2111 non-null   float64
 3   Weight                            2111 non-null   float64
 4   family_history_with_overweight    2111 non-null   int32
 5   FAVC                              2111 non-null   int32
 6   FCVC                              2111 non-null   float64
 7   NCP                               2111 non-null   float64
 8   SMOKE                             2111 non-null   int32
 9   CH2O                              2111 non-null   float64
 10  SCC                               2111 non-null   int32
 11  FAF                               2111 non-null   float64
 12  TUE                               2111 non-null   float64
 13  CAEC_T_Always                     2111 non-null   uint8
 14  CAEC_T_Frequently                 2111 non-null   uint8
 15  CAEC_T_Sometimes                  2111 non-null   uint8
 16  CAEC_T_no                         2111 non-null   uint8
 17  MTRANS_T_Automobile               2111 non-null   uint8
 18  MTRANS_T_Bike                     2111 non-null   uint8
 19  MTRANS_T_Motorbike                2111 non-null   uint8
 20  MTRANS_T_Public_Transportation    2111 non-null   uint8
 21  MTRANS_T_Walking                  2111 non-null   uint8
 22  NObeyesdad_T_Insufficient_Weight  2111 non-null   uint8
 23  NObeyesdad_T_Normal_Weight        2111 non-null   uint8
 24  NObeyesdad_T_Obesity_Type_I       2111 non-null   uint8
 25  NObeyesdad_T_Obesity_Type_II      2111 non-null   uint8
 26  NObeyesdad_T_Obesity_Type_III     2111 non-null   uint8
 27  NObeyesdad_T_Overweight_Level_I   2111 non-null   uint8
 28  NObeyesdad_T_Overweight_Level_II  2111 non-null   uint8
 29  CALC_T_Always                     2111 non-null   uint8
 30  CALC_T_Frequently                 2111 non-null   uint8
 31  CALC_T_Sometimes                  2111 non-null   uint8
 32  CALC_T_no                         2111 non-null   uint8
dtypes: float64(8), int32(5), uint8(20)
memory usage: 214.5 KB
None

In [22]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scale = scaler.fit_transform(data)

In [26]:
print(scale)

[[-1.01191369 -0.52212439 -0.87558934 ... -0.18519426 -1.40472041
   1.5177613 ]
 [-1.01191369 -0.52212439 -1.94759928 ... -0.18519426  0.71188543
  -0.65886513]
 [ 0.98822657 -0.20688898  1.05402854 ...  5.39973544 -1.40472041
  -0.65886513]
 ...
 [-1.01191369 -0.28190933  0.54167211 ... -0.18519426  0.71188543
  -0.65886513]
 [-1.01191369  0.00777624  0.40492652 ... -0.18519426  0.71188543
  -0.65886513]
 [-1.01191369 -0.10211908  0.39834438 ... -0.18519426  0.71188543
  -0.65886513]]

# An치lisis

Los datos booleanos fueron transformados en 0 y 1. Los datos categ칩ricos fueron transformados
usando el one label encoding, debido a que las categor칤as no eran muchas y por tanto no se crearan muchas
columnas adicionales. Finalmente, con la estandarizaci칩n, todos los n칰meros quedaran en un rango unificado y, por tanto
estar치n listos para ser usados por los modelos de machine learning